{% extends 'templates/base.twig' %}
{% block title %}{{ pagetitle|capitalize }}{% endblock %}

{% block content %}
	<table class="root-table" width="100%">
		<tr><td>{{ project }}</td></tr>
	</table>
{% endblock %}